.last.container {
  margin-bottom: 300px !important;
}
h1.ui.center.header {
  margin-top: 3em;
}
h2.ui.center.header {
  margin: 4em 0em 2em;
}
h3.ui.center.header {
  margin-top: 2em;
  padding: 2em 0em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.ui.container.vmargin {
  margin: 5rem 0em calc(2rem - 0.14285714em );
}
