{{define "base"}}
<!doctype html>
<html>
{{template "headtag" .}}
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="./" class="item">Top</a>
      </div>
    </div>
{{template "floatingbutton" .}}
    <h1 class="ui center aligned header">{{ .Title }}</h1>
{{ range .ContentList }}
    <div class="ui container vmargin">
      <div class="ui relaxed divided items">
        <div class="item">
          <div class="ui small image">{{ .Image }}</div>
          <div class="content">
            <a class="header">{{ .Title }}</a>
            <div class="meta">
            {{ range .Categories }}
              {{ . }}
            {{end}}
            </div>
            <div class="description">{{ .Description }}</div>
          </div>
        </div>
      </div>
    </div>
{{end}}
{{template "pagertag" .}}
{{template "foottag" .}}
  </body>
</html>
{{end}}
